<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100%"
>
  <div class="card register-card p-3 text-white rounded-3 mt-5 mb-5">
    <div class="d-flex flex-column align-items-center mb-2">
      <h1 class="text-center mb-4">Registro</h1>
      <i class="fas fa-user" style="font-size: 4rem"></i>
    </div>

    <div class="card-body">
      <form>
        <div class="form-group mb-4">
          <label class="mb-2" for="">Nombre</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-envelope"></i
            ></span>
            <input
              formControlName="usuario"
              type="email"
              class="form-control"
              placeholder="Nombre"
            />
          </div>
        </div>
        <div class="form-group mb-4">
          <label class="mb-2" for="">Apellido</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-unlock-alt"></i
            ></span>
            <input
              formControlName="clave"
              type="password"
              class="form-control"
              placeholder="Apellido"
            />
          </div>
        </div>
        <div class="form-group mb-4">
          <label class="mb-2" for="">Dirección</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-unlock-alt"></i
            ></span>
            <input
              formControlName="clave"
              type="password"
              class="form-control"
              placeholder="Dirección"
            />
          </div>
        </div>
        <div class="form-group mb-4">
          <label class="mb-2" for="">Correo Electrónico</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-unlock-alt"></i
            ></span>
            <input
              formControlName="clave"
              type="password"
              class="form-control"
              placeholder="Correo Electrónico"
            />
          </div>
        </div>
        <div class="form-group mb-4">
          <label class="mb-2" for="">Celular</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-unlock-alt"></i
            ></span>
            <input
              formControlName="clave"
              type="password"
              class="form-control"
              placeholder="Celular"
            />
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-primary text-white fs-5">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
